* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
  font-weight: 100 800;
  font-style: normal;
}

:root {
  /* Grey colors */
  --grey-200: #e6e5ea;
  --grey-600: #817d92;
  --grey-700: #54535b;
  --grey-800: #24232c;
  --grey-850: #18171f;
  --grey-900: #14131b;
  --grey-950: #08070b;

  /* Green */
  --green-200: #a4ffaf;

  /* Yellow */
  --yellow-300: #f8cd65;

  /* Orange */
  --orange-400: #fb7c58;

  /* Red */
  --red-500: #f64a4a;
}

body {
  height: 100vh;
  font-family: "JetBrains Mono", sans-serif;
  background-image: linear-gradient(to right, #14131b, #08070b);
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Text fields */
.title {
  color: var(--grey-600);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
  margin-bottom: 1.6rem;
}
.password-text {
  color: var(--grey-700);
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.password-text-generated {
  color: var(--grey-200);
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.copied-text {
  color: var(--green-200);
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-transform: uppercase;
}

.character-length {
  color: var(--grey-200);
  font-size: 1.6rem;
}

.character-length-nr {
  color: var(--green-200);
  font-size: 2.4rem;
}

.strength-check__text {
  color: var(--grey-600);
  font-size: 1.6rem;
  font-weight: 500;
}

.strength-check__eval-text {
  color: var(--grey-200);
  font-size: 1.6rem;
  font-weight: 500;
}

/* Main Card */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Password section */
.password-section,
.password-generations-section {
  background-color: var(--grey-850);
}

.password-section {
  width: 34.3rem;
  padding: 1.6rem;
  margin-bottom: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy-field {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Slider */
.slide-container {
  margin-top: 1.6rem;
  width: 31.1rem;
}

.slider {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 0.8rem;
  background: linear-gradient(90deg, var(--green-200) 40%, var(--grey-950) 50%);
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2.8rem;
  height: 2.8rem;
  background: white;
  border-radius: 5rem;
}

.slider:focus::-webkit-slider-thumb {
  border: 0.2rem solid var(--green-200);
  background-color: var(--grey-900);
}

/* Main Action Field */
.password-generations-section {
  width: 34.3rem;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Form and Check boxes */
.form {
  font-size: 1.6rem;
  color: var(--grey-200);
  margin: 2.4rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.checkbox-row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

input[type="checkbox"] {
  appearance: none;
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid var(--grey-200);
}

input[type="checkbox"]:active {
  border: 0.2rem solid var(--green-200);
}

input[type="checkbox"]:checked {
  background-image: url(./assets/images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: var(--green-200);
}

/* Strength check field */
.strength-check {
  background-color: var(--grey-900);
  text-transform: uppercase;
  display: flex;
  padding: 1.6rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
}

.strength-check__eval {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.strength-bar {
  border: 0.2rem solid var(--grey-200);
  width: 1rem;
  height: 2.8rem;
}

.strength-bar-yellow {
  border: none;
  background-color: var(--yellow-300);
  width: 1rem;
  height: 2.8rem;
}

.strength-bars {
  display: flex;
  gap: 0.5rem;
}

/* Button */
.copy {
  background: none;
  border: none;
  color: var(--green-200);
}

.copy:hover {
  cursor: pointer;
}
.copy:active {
  color: var(--grey-200);
}
.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-family: inherit;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: var(--green-200);
  min-height: 5.6rem;
  text-transform: uppercase;
  border: transparent;
}

.btn:active {
  color: var(--green-200);
  background-color: var(--grey-800);
  border: 0.2rem solid var(--green-200);
}

/* Unified classes */
.character-length-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.non-display { 
  display: none;
}

/* Tablet/Desktop */
@media (min-width: 767px) {
  .password-section,
  .password-generations-section {
    width: 540px;
    padding: 1.6rem;
  }
  .password-generations-section {
    padding: 32px;
  }
  .password-section {
    height: 80px;
    padding: 24px;
  }
  .slide-container {
    width: 476px;
  }
  .form {
    margin: 32px 0rem;
  }
  .strength-check {
    margin-bottom: 32px;
    padding: 32px;
    height: 72px;
  }
  /* Text */
  .title {
    font-size: 24px;
    line-height: 32px;
  }
  .password-text {
    font-size: 32px;
    line-height: 42px;
  }

  .copied-text {
    font-size: 18px;
    line-height: 24px;
  }

  .character-length {
    font-size: 18px;
  }

  .character-length-nr {
    font-size: 32px;
    line-height: 32px;
  }

  .strength-check__text {
    font-size: 18px;
    line-height: 24px;
  }

  .strength-check__eval-text {
    font-size: 18px;
    line-height: 24px;
  }

  .btn {
    font-size: 18px;
    line-height: 24px;
  }
  .password-text-generated {
    color: var(--grey-200);
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}
